body{
	background-color:#0c0c0c;
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-transform: uppercase;
}
header{
	z-index: 4;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
	align-items: center;
	display: flex;
	align-items: center;
	margin-left: 56px;
}
.logo p{
	margin: 4px 0 0 42px;
  font-size: 16px;
  font-weight: 800;
	color: white;
}
.logoimg{
	position: absolute;
}
a{
	text-decoration: none;
}
#mobile_nav_icon {
  border-bottom: 15px double #fff;
  border-top: 2px solid #fff;
  cursor: pointer;
  height: 4px;
	margin-left: 1100px;
	margin-top: 25px;
  width: 25px;
}
.space h1{
	font-size: 68px;
	font-weight: 800;
	line-height: 0.8;
}
.space{
	height: 475px;
	margin-top: 95px;
	margin-left: 15%;
}
.introduction{
	position: absolute;
	margin-top: -558px;	
	margin-left: 44%;
	border-bottom: #fff;
}
.hire{
	text-transform: uppercase;
	padding: 5px 17px 5px 12px;
	background: #0f33ff;
	width: 10%;
	cursor: pointer;
	font-weight: 600;
	margin-left: 15%;
	margin-top: -250px;
}
.line1{
	margin-top: 120px;
	width: 67%;
	height: 2px;
	background-color: #282828;
	border: none;
	margin-left: 14%;
}
.line2{
	width: 2.5%;
	height: 5px;
	background-color: #0f33ff;
	margin-left: 16%;
	border: none;
	margin-top: -18px;
}

.paul{
	color: #252525;
	cursor: pointer;
}
.paul:hover{
	color: #ffffff;
}
.tritext{
	font-weight: 800;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
h3{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
}
p{
	font-size: 14px;
}
.secondslide{
	margin-top: 1%;
}
.metiew-smith{
	margin-left: 3.8%;
	margin-right: 1%;
	margin-top: 7%; 
}
.work-victory{
 margin-left: 3.9%;
 margin-top: 80%;
}
.work-alex-nowak{
	margin-right: 3.9%;
  margin-top: 80%;
}
.alex-novak{
	margin-left: 13%;
}
.arrow_left{
 margin-left: 12.2%;
 margin-top: 84%;
}
.arrow_right{
	margin-right: 12.2%;
  margin-top: 84%;
}
.arrow_left:hover{
	opacity: 0.4;
}
.arrow_right:hover{
	opacity: 0.4;
}
img.radius{
	border-radius: 50%;
}
.cursor{
	cursor: pointer;
	font-weight: bold;
}
.fonts{
	margin-left: 8%; 
	margin-top: 25px;
	font-size: 13px;
}
.s{
	font-size: 20px;
	margin-left: 19%;
}
.transform{
	margin-top: 10px;
	font-size: 12px;
  font-weight: 700;
}
.belive{
	text-transform: none;
	font-weight: 600; 
	line-height: 1; 
	font-size: 68px;
	margin-top: 200px;
	margin-left: 18%;
}
.col{
	margin-left: 55%;
	margin-top: -420px;
	max-width: 33%;
}
.ellipse_3{
	position: absolute;
	margin-left:39.1%;
	margin-top: 4.1%;
}
.Rectangle-4{
	position: absolute;
	margin-top: -25%;
	margin-left: 7%;
}
.Rectangle-3{
	position: absolute;
	margin-top: -20%;
	margin-left: 22%;
}
.career{
	cursor: pointer;
	margin-left: 18%;
	/* margin-top: 65%; -_- не работает надо разобраться, ты сможешь!!! */
}
.pictures{
  margin-left: 18%;
	margin-top: -150px;
}
.layer-4{
	border: 11px solid #0f33ff;
}
.layer-5{
	border: 11px solid #0f33ff;
	margin-left: 2.5%;
}
.layer-6{
	border: 11px solid #0f33ff;
	margin-left: 2.5%;
}
.win{
	position: absolute;
	margin-top: -10px;
	margin-left: 1.5%;
}
.phi{
	position: absolute;
	margin-top: -10px;
	margin-left: 16.5%;
}
.his{
	position: absolute;
	margin-top: -10px;
	margin-left: 31.5%;
}
.row{
	margin-right: 0px;
}
.modalll{
	margin-top: 220px;
	margin-left: 58%;
	width: 23.6%;
	height: 361px;
	padding: 45px 45px;
	text-align: center;
	text-transform: none;
	font-weight: bold;
	font-size: 90%;
	position: absolute;
  background-color: #0c0c0c;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
}
.information{
	margin-left: -5%;
	margin-top: -15px;
	color: #fff;
}
.modal_options{
	color: #fff;
	list-style: none;
	margin-top: 20px;
}
.l-section {
	position: absolute;
	width: 100%;
	height: 100%;
}
.Fourth_slide{
	width: 100%;
	height: 720px;
	margin-top: 50px;
  background-position: center;
  background-size: cover;
	background-image: url("img/contact-visual.png")
}
a{
	color: #fff;
}
.behance{
	display: flex;
	justify-content: center;
	position: absolute;
	padding-left: 10.3%;
	padding-right: 10.3%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #1769ff;
	margin-top: 30px;
}
.dribbble{
	display: flex;
	justify-content: center;
	position: absolute;
	padding-left: 10.5%;
	padding-right: 10.5%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #ea4c89;
	margin-top: 100px;
}
.contact_us{
	display: flex;
	justify-content: center;
	position: absolute;	
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: #0f33ff;
	font-size: 16px;
	margin-top: 170px;
}
.nomberphone{
	display: flex;
	justify-content: center;
	position: absolute;
	font-size: 13px;
	margin-left: 19%;
	/* margin-top: 15px; */
}